ul, li ,a{
	list-style-type: none;
	text-transform: capitalize;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.nav{
	width: 778px;
	height: 28px;
	background-color: black;
	line-height:28px;
	font-size: 10px;
	
}
.nav a{
	color:white;
}

.nav ul{
	z-index:1;
	background-color:gray;
	float: right;
	text-align:center;
}

.nav ul li{
	float: left;	
	margin-right: 20px;
}

.mainlevel ul a{
	color: blue;
}

.mainlevel ul{
	width:90px;
	border:1px solid red;
	
	display:none;
	float:none;
	position: absolute;	
}

.mainlevel ul li {
	width:90px;
	background-image: url("../images/navigation_bg.gif");
}
