.query{
	width: 737px;
	
	text-align:left;
	margin: 0px auto;
	margin-top: 20px;
	background-color: #f9d16b;
	padding-top: 5px;
	padding-bottom:10px;
	padding-left: 10px;
	
}

.query img{
	position: relative;
	top: 8px;
}

.cendiv table{
	width: 730px;
	position: relative;
	left: -3px;
	top: 0px;
}
